<div 
    *ngIf="!inverse" 
    class="card" 
    [ngStyle]="{ 'background-color': getColor() }">

    <div class="corner top">
        {{ getType() }}
    </div>

    <div class="card-oval" >
        <div class="middle" [ngStyle]="{ 'color': getColor() }"> {{ getType() }} </div>
    </div>

    <div class="corner bottom">
        {{ getType() }}
    </div>
</div> 

<div 
    *ngIf="inverse"
    class="card inverse">
    
    <div class="card-oval" >
        <span class="uno-text">UNO</span>
    </div>
</div>
