<!-- Real Ratio = 420 / 260 -->

<div 
    *ngIf="!inverse" 
    class="card" 
    [ngStyle]="{ 
        '--card-color': getColor(), 
        '--card-width': card_dimensions.width, 
        '--card-height': card_dimensions.height, }">
    
    <div class="card-inside">
        <div class="corner top">
            {{ getType() }}
        </div>
        
        <div class="card-oval-outside" >
            <div class="card-oval-inside" >
                <div class="middle"> {{ getType() }} </div>
            </div>
        </div>

        <div class="corner bottom">
            {{ getType() }}
        </div>
    </div>
</div> 

<div 
    *ngIf="inverse"
    class="card inverse">
    
    <div class="card-oval" >
        <span class="uno-text">UNO</span>
    </div>
</div>
