
<div *ngIf="gameState" style="background-color: red; padding: 10px;">
    <h1>Game State</h1>

    <h2>Pequeno:</h2>
    <app-card [card]="gameState.getTableCard()" [card_dimensions]="getSmallestCardDimensions()"></app-card>
    <h2>Médio:</h2>

    <app-card [card]="gameState.getTableCard()" [card_dimensions]="getMediumCardDimensions()"></app-card>
    <h2>Grande:</h2>

    <app-card [card]="gameState.getTableCard()" [card_dimensions]="getBiggestCardDimensions()"></app-card>

    <!--app-player-hand [player]="gameState.getPlayers()[0]"></app-player-hand-->
</div>