<div class="card-container" [ngClass]="getColor() + '-slot-color'"> 
    <ng-container *ngIf="player; else emptySlot">
        <p class="player-name"> {{ player.getName() }} </p>
        <app-ellipse [cardWidth]="230" [cardHeight]="380" [color]="'pink'" [stroke]="'white'"></app-ellipse>
        <div class="player-profile-pic">
        </div>
        <p class="player-status"> Waiting </p>
    </ng-container>

    <ng-template #emptySlot>
        <app-ellipse [cardWidth]="230" [cardHeight]="380" [color]="'crimson'"></app-ellipse>
    </ng-template>
</div>