<div class="lobby-container"> 
    <div class="lobby">
        <h1 class="title"> Lobby </h1>
        <div class="lobby-players">
            <div class="lobby-player" *ngFor="let slot of [].constructor(slotCount); let i = index"> 
                <ng-container *ngIf="getPlayerAt(i); else emptySlot">
                    {{ getPlayerAt(i)?.getName() }}
                </ng-container>
                <ng-template #emptySlot>
                    <button *ngIf="!isPlayerInLobby(i)" class="lobby-button" (click)="addPlayerToSlot(i)">
                        Enter room
                    </button>
                    <button class="lobby-button" (click)="addBot(i)">
                        Add Bot
                    </button>
                </ng-template>
            </div>
        </div>

        <button class="start-button" [disabled]="allPlayersInLobby()" (click)="startGame()"> 
            Start Game
        </button>
    </div>

    <div class="players">
        <h1 class="title"> Players </h1>
        <div *ngFor="let player of connectedPlayers; let i = index" class="players-player"> 
            {{ player?.getName() }}
        </div>
    </div>

</div>