.lobby-wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(rgb(255, 217, 0) 0%, orange 10%, crimson 100%);
}

.lobby-main {
    display: flex;
    width: 65%;
    justify-content: space-between;
    margin: auto;
}