<!-- Real Ratio = 420 / 260 -->

<div *ngIf="!inverse" class="card" [ngStyle]="{ 
        '--card-color': getColor(), 
        '--card-width': card_dimensions.width, 
        '--card-height': card_dimensions.height, }">

    <div class="card-inside">
        <div class="corner top">
            <ng-container [ngSwitch]="strategy.renderCard()">
                <app-number-svg *ngSwitchCase="'number'" [number]="getNumber()" [size]="35" [fontSize]="125"></app-number-svg>
                <app-skip-svg *ngSwitchCase="'skip'" [size]="35"></app-skip-svg>
                <app-draw-two-svg *ngSwitchCase="'draw-two'" [size]="35" [fontSize]="125"></app-draw-two-svg>
                <app-draw-four-svg *ngSwitchCase="'draw-four'" [size]="35" [fontSize]="125"></app-draw-four-svg>
                <app-reverse-svg *ngSwitchCase="'reverse'" [size]="35"></app-reverse-svg>
                <app-wild-svg *ngSwitchCase="'wild'" [size]="15"></app-wild-svg>
            </ng-container>
        </div>

        <div class="card-oval-outside">
            <div class="card-oval-inside">
                <div class="middle">
                    <ng-container [ngSwitch]="strategy.renderCard()">
                        <app-number-svg *ngSwitchCase="'number'" [number]="getNumber()" [size]="75" [fontSize]="125"></app-number-svg>
                        <app-skip-svg *ngSwitchCase="'skip'" [size]="75"></app-skip-svg>
                        <app-draw-two-middle-svg *ngSwitchCase="'draw-two'" [size]="75"></app-draw-two-middle-svg>
                        <app-draw-four-middle-svg *ngSwitchCase="'draw-four'" [size]="75"></app-draw-four-middle-svg>
                        <app-reverse-svg *ngSwitchCase="'reverse'" [size]="75"></app-reverse-svg>
                        <app-wild-svg *ngSwitchCase="'wild'" [size]="75"></app-wild-svg>
                    </ng-container>
                </div>
            </div>
        </div>

        <div class="corner bottom">
            <ng-container [ngSwitch]="strategy.renderCard()">
                <app-number-svg *ngSwitchCase="'number'" [number]="getNumber()" [size]="35" [fontSize]="125"></app-number-svg>
                <app-skip-svg *ngSwitchCase="'skip'" [size]="35"></app-skip-svg>
                <app-draw-two-svg *ngSwitchCase="'draw-two'" [size]="35" [fontSize]="125"></app-draw-two-svg>
                <app-draw-four-svg *ngSwitchCase="'draw-four'" [size]="35" [fontSize]="125"></app-draw-four-svg>
                <app-reverse-svg *ngSwitchCase="'reverse'" [size]="35"></app-reverse-svg>
                <app-wild-svg *ngSwitchCase="'wild'" [size]="15"></app-wild-svg>
            </ng-container>
        </div>
    </div>
</div>

<div *ngIf="inverse" class="card inverse">

    <div class="card-oval">
        <span class="uno-text">UNO</span>
    </div>
</div>