.player-hand {
    position: relative;

    left: 50%;
    transform: translateX(-50%);

    background-color: cyan;

    height: 250px;
    width: 1000px;

}

.player-card {
    transition: transform 0.3s;
}

.player-card:hover {
    transform: scale(1.1);
    transform: translateY(-100px);
}