<ng-container [ngSwitch]="type">
    <app-number-svg *ngSwitchCase="'ZERO'" [size]="size" [fontSize]="fontSize" [number]="'0'"></app-number-svg>
    <app-number-svg *ngSwitchCase="'ONE'" [size]="size" [fontSize]="fontSize" [number]="'1'"></app-number-svg>
    <app-number-svg *ngSwitchCase="'TWO'" [size]="size" [fontSize]="fontSize" [number]="'2'"></app-number-svg>
    <app-number-svg *ngSwitchCase="'THREE'" [size]="size" [fontSize]="fontSize" [number]="'3'"></app-number-svg>
    <app-number-svg *ngSwitchCase="'FOUR'" [size]="size" [fontSize]="fontSize" [number]="'4'"></app-number-svg>
    <app-number-svg *ngSwitchCase="'FIVE'" [size]="size" [fontSize]="fontSize" [number]="'5'"></app-number-svg>
    <app-number-svg *ngSwitchCase="'SIX'" [size]="size" [fontSize]="fontSize" [number]="'6'"></app-number-svg>
    <app-number-svg *ngSwitchCase="'SEVEN'" [size]="size" [fontSize]="fontSize" [number]="'7'"></app-number-svg>
    <app-number-svg *ngSwitchCase="'EIGHT'" [size]="size" [fontSize]="fontSize" [number]="'8'"></app-number-svg>
    <app-number-svg *ngSwitchCase="'NINE'" [size]="size" [fontSize]="fontSize" [number]="'9'"></app-number-svg>
    <app-skip-svg *ngSwitchCase="'SKIP'" [size]="size"></app-skip-svg>
</ng-container>